*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito", sans-serif;
    background-color: cadetblue;

}
.input{
    text-align: center;
    margin: 100px 0px;
}
input[type="text"]{
    height: 50px;
    width: 600px;
    background-color: #e7e7e7;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
   
}
input[type="submit"]{
    height: 50px;
    width: 100px;
    background-color: wheat;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}
.button:hover{
    background-color: #fafa;
    color: #fff;
}
.display{
    text-align: center;
    color: floralwhite;

}

img{
    text-align: center;
}
.navbar{
    display: inline-flex;

}
navbar>h1{
    margin: auto;
}
.display > h1{
    font-size: 40px;
    margin: auto;
    color: wheat;
}
.display>p{
    font-size: 20px;
    margin: 10px 2px;
    color: coral;
}
@media(min-width:200px){
    
}